<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="ca.barrenechea.ticker"
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>

    <uses-sdk tools:node="replace"/>

    <application
        android:name=".TickerApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".app.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".app.EventActivity"
            android:parentActivityName=".app.MainActivity"
            tools:ignore="UnusedAttribute">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".app.MainActivity"/>
        </activity>

        <meta-data
            android:name="com.crashlytics.ApiKey"
            android:value="c5e8104581feb5f0eed6404d3821a6402f08eedd"/>
    </application>

</manifest>
